$header-color-black: #232323;
$header-color-black-02: #000000b3;

$header-color-red: #c70f1a;
$header-color-red-02: #fcf2f6;

$header-color-blue: #1a3163;
$header-color-blue-01: #2534f1;
$header-color-blue-04: #f2f2fc;
$header-color-blue-05: #1d59b3;
$header-color-blue-08: #f4f7fb;

$header-color-green: #1df9bb;
$header-color-green-02: #138c08;

$header-color-white: #ffffff;

$header-color-gray: #64728d;
$header-color-gray-02: #ededed;
$header-color-gray-06: #e1e0e5;

$header-color-yellow-03: #aa5c00;

$header-color-pink-03: #b12fa5;
