@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto&display=swap");

@font-face {
  font-family: "yekan";
  src: url("/public/yekan.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
