@import "colors";

.program-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: end;
  width: 50%;
  min-width: 350px;
  .program-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    min-width: 350px;
    .program-item-container {
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: 0.5rem;
      height: 45px;

      .program-item-main {
        border-radius: 5px;
        border: 3px solid $header-color-gray-06;
        background-color: $header-color-white;
        padding: 5px 13px 5px 6px;
        display: grid;
        grid-template-columns: auto 1fr auto;
        justify-content: space-between;
        align-items: center;

        .program-item-delete {
          cursor: pointer;
          font-size: 14px;
          font-weight: 600;
          color: $header-color-red;
          font-family: "yekan";
          padding: 3px 15px;
          background-color: $header-color-red-02;
          border: 1px solid $header-color-red;
          border-radius: 5px;
          &:hover {
            background-color: $header-color-red;
            color: $header-color-red-02;
          }
        }
        .program-item-info {
          display: flex;
          justify-content: end;

          column-gap: 0.5rem;
          p {
            color: $header-color-gray;
            font-family: "yekan";
            font-size: 14px;
            font-weight: 500;
          }
          button {
            cursor: pointer;
            color: $header-color-white;
            font-weight: 600;
            border: 0;
            font-size: 1rem;
            border-radius: 8px;
            padding: 2px 10px;
          }
          .active {
            background: linear-gradient(289deg, #25e750 0%, #abf44e 100%);
          }
          .deactive {
            background: linear-gradient(289deg, #e72548 0%, #f4bc4e 100%);
          }
        }
      }
      .program-item-num {
        display: flex;
        align-items: center;
        padding: 7px;
        border-radius: 4px;
        border: 3px solid $header-color-blue-05;
        background: linear-gradient(180deg, #5ac8f6 0%, #26a7e7 100%);
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 20px;
          p {
            color: $header-color-blue-05;
            font-size: 24px;
            font-weight: 600;
          }
        }
      }
    }
  }

  .program-add {
    text-align: end;
    font-family: "yekan";
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 60%;
    min-width: 300px;
    .program-add-title {
      color: $header-color-gray;
    }
    .program-add-input {
      padding: 5px 13px 5px 6px;
      display: flex;
      justify-content: space-between;
      border-radius: 5px;
      border: 3px solid $header-color-gray-06;
      background: $header-color-white;
      button {
        cursor: pointer;
        padding: 3px 15px;
        border-radius: 5px;
        border: 1px solid $header-color-blue-01;
        background: $header-color-blue-04;
        color: $header-color-blue-01;
        font-family: "yekan";
        font-size: 14px;
        font-weight: 600;
        &:hover {
          color: $header-color-blue-04;
          background: $header-color-blue-01;
        }
      }
      input {
        font-family: "yekan";
        font-size: 14px;
        font-weight: 600;
        color: $header-color-blue-05;
        direction: rtl;
        outline: 0;
        border: 0;
      }
    }
  }
}
